.store{
		
table,th,td
{

border:0px ;
border-collapse:collapse;
color: black;
}
th,td
{
padding:2px;
}
th
{
text-align: center;
}   



 	h1 {

    		margin: 1em;

    		padding-bottom: 0.5em;

    		font:  150% sans-serif;
    
    		color: red;

    		border-bottom: 3px solid #77d;
	
  	}

  	.entry {

    			overflow: auto;
			margin-top: 1em;
    			min-height: 120px;
		
			img {

      				width: 150px;

      				margin-right: 5px;
				margin-left: 30px;

      				margin-bottom: 5px;

      				position:center;
;

  			}
	
	h3 {
		
		font-size: 120%;
		font-family: san-serif;
		margin-left: 20px;
		margin-top: 0.5px;
		margin-bottom: 5px;
		text-align: center;
		color: #227;
	}
h2 {
		
		font-size: 80%;
		font-family: san-serif;
		margin-left: 20px;
		margin-top: 0;
		margin-bottom: 5px;
		text-align: center;
		color: black;
	}
 

    p, div.price_line {

		margin-left: 20px;
		margin-top: 0.5em;
		margin-bottom: 0.8em;
		text-align: center;
	form, div {
			display: inline;
		}

	}
.price {


      color: #44a;

      font-weight: bold;

      margin-right: 3em;
	
    }
}
}

